@import "./reset.css";

/* DEV SETUP */
/* .inner-column {
  border: 5px solid limegreen;
}

section {
    border: 5px solid orange;
}

header, main, footer {
    border: 5px solid yellow;
}

.hero-content {
    border: 5px solid white;
} */

/* SETUP */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* SETTINGS */

html {
  --primary: #1f2937;
  --secondary: #e5e7eb;
  --accent: #3882f6;
  --copy-dark: #1f2937;
  --copy-light: #f9faf8;
  --copy-light-lower-contrast: #e5e7eb;
}

/* STRUCTURE */
body {
  display: flex;
  flex-direction: column;
}

header, section:first-child, footer {
  background-color: var(--primary);
}

nav {
  color: var(--copy-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2vw;
  color: var(--copy-light-lower-contrast);
}

footer {
  color: var(--copy-light-lower-contrast);
}

section {
    padding: 6vh 8vw;
}

header, footer {
    padding: 24px 8vw;
}

@media (min-width: 700px) {
    header, footer {
        padding: 32px 10vw;
    }

    section {
        padding: 8vh 10vw;
    }
}

.inner-column {
  max-width: 1100px;
  margin: 0 auto;
}

section:nth-child(3) {
    background-color: var(--secondary);
}

/* TYPOGRAPHY */
html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1 {
    font-weight: 700;
    font-size: 2.6rem;
}

nav a {
    font-weight: 700;
    font-size: 1.3rem;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

footer p, .card-caption {
    text-align: center;
}

.testimonial-quote {
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
}

.testimonial-author {
    font-size: 1.3rem;
    text-align: right;
}

.call-to-action-copy h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

/* COMPONENTS */
.button {
  background-color: var(--accent);
  color: var(--copy-light);
  border-radius: 8px;
  padding: 10px 35px;
  width: max-content;
}

.call-to-action-module .button {
  border: 2px solid var(--secondary);
  flex-shrink: 0;
}

/* MODULES */
.hero-content {
    margin-top: 24px;
}

.hero-module h1 {
    color: var(--copy-light)
}

.hero-module p {
    color: var(--copy-light-lower-contrast);
}

.hero-content p {
    margin: 12px 0 24px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
}

.product-card {
    flex-basis: 47%;
    color: var(--primary);
    text-align: center;
}

.product-card img {
    border: 4px solid var(--accent);
    border-radius: 18px;
    margin: 36px 0 18px;
}

.call-to-action-module {
    background-color: var(--accent);
    border-radius: 10px;
    padding: 48px 12%;
}

.call-to-action-copy h3 {
    color: var(--copy-light);
    margin-bottom: 8px;
}

.call-to-action-copy p {
    color: var(--copy-light-lower-contrast);
}

.call-to-action-copy {
    margin-bottom: 24px;
}

@media (min-width: 700px) {
  .hero-module {
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    align-items: center;
  }

  .hero-content,
  .hero-image {
    flex-basis: 100%;
    margin-top: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-grid {
    flex-wrap: nowrap;
    padding: 0 8%;
  }

  .testimonial-module {
    padding: 0 8%;
  }

  .call-to-action-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  .call-to-action-copy {
    margin-bottom: 0;
  }
}

.testimonial-module {
    color: var(--copy-dark)
}

.testimonial-author {
    margin-top: 24px;
}
